.container {
    margin: auto;
}

.online,
.offline {
    margin-left: 10px;
    height: 25px;
    width: 70px;
    background-color: #3d3da3;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
