.container {
    margin: auto;
}

.online-posts,
.offline-posts {
    margin-left: 10px;
    height: 35px;
    width: 80px;
    background-color: #5a6268;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 15px;
}

.online-posts.active {
    background-color: #3d3da3; /* 온라인 버튼이 활성화된 색 */
}

.offline-posts.active {
    background-color: #3d3da3; /* 오프라인 버튼이 활성화된 색 */
}
