body,
html,
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    height: 100%;
    background-image: url('assets/background6.jpeg');
    background-size: 2300px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

#root > div {
    width: 100%;
    max-width: 390px;
    height: 100vh;
    background-color: #fff;
    box-sizing: border-box;
}

main {
    flex-grow: 1;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
}

header {
    height: 65px;
    min-height: 65px;
    max-height: 65px;
    background-color: #fff; /* 헤더의 기본 배경색을 지정 */
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header.search-active {
    background-color: rgba(0, 0, 0, 0.5) !important; /* 검색 활성화 시 배경색 */
}

footer {
    height: 70px;
    flex-shrink: 0;
    width: 100%;
    max-width: 390px;
    box-sizing: border-box;
}

/* 추가적인 스타일 수정 */
.MuiBottomNavigation-root,
.MuiBottomNavigationAction-root {
    width: 100%;
    max-width: 390px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}
